{% extends 'base.html' %}

{% load static %}

{% load cms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="main-slideshow">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="{% static 'images/slider002.jpg' %}" alt="Slide 1"/>
                                <div class="slider-caption">
                                    <h2><a href="#">SCC</a></h2>
                                    <p>The SSC test series at Repose coaching are designed chiefly in comprehensive teaching patterns in accordance with the guidelines of the erudite experts.</p>
                                </div>
                            </li>
                            <li>
                                <img src="{% static 'images/slider03.jpg' %}" alt="Slide 1"/>
                                <div class="slider-caption">
                                    <h2><a href="#">Bank PO</a></h2>
                                    <p>Repose coaching is a well-known centre, providing perfect guidance along with required study material for Bank PO Coaching.</p>
                                </div>
                            </li>
                            <li>
                                <img src="{% static 'images/slider04.jpg' %}" alt="Slide 1"/>
                                <div class="slider-caption">
                                    <h2><a href="blog-single.html">Railways</a></h2>
                                    <p>Repose coaching is a well-known centre, providing perfect guidance along with required study material for Railways Coaching.</p>
                                </div>
                            </li>
                        </ul> <!-- /.slides -->
                    </div> <!-- /.flexslider -->
                </div> <!-- /.main-slideshow -->
            </div> <!-- /.col-md-8 -->

            <div class="col-md-4">
                {% include 'reposeforms/course_enquiry_widget.html' %}
            </div> <!-- /.col-md-4 -->
        </div>
    </div>


    <div class="container">
        <div class="row">
            <!-- Here begin Main Content -->
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget-item">
                            <h2 class="welcome-text">WELCOME TO REPOSE COACHING CENTER </h2>
                            {% autoescape off %}
                                {% about_us %}
                            {% endautoescape %}
                        </div> <!-- /.widget-item -->
                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->


                 <div class="row">
                    <div class="col-md-12">
                        <div class="widget-main">
                            <div class="widget-main-title">
                                <h4 class="widget-title">Top courses</h4>
                            </div> <!-- /.widget-main-title -->
                            <div class="widget-inner">
                                <div class="our-campus clearfix">
                                    <ul>
                                        <li><img src="{% static 'images/ssc.png' %}" alt=""></li>
                                        <li><img src="{% static 'images/Railway.png' %}" alt=""></li>
                                        <li><img src="{% static 'images/Bank.png' %}" alt=""></li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- /.widget-main -->
                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->

                  <div class="row">
                    <div class="col-md-12">
                        <div class="widget-main">
                            <div class="widget-main-title">
                                <h4 class="widget-title">DIRECTOR'S MESSAGE</h4>
                            </div> <!-- /.widget-main-title -->
                            <div class="widget-inner">
                                <div class="clearfix">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            {% autoescape off %}
                                                {% director_message %}
                                            {% endautoescape %}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div> <!-- /.widget-main -->
                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->

                <div class="row">
                     <div class="col-md-6">
                      {% load batches_tags %}
                        {% home_page_batches_widget %}
                     </div> <!-- /.col-md-6 -->

                                 <!-- Show Latest Events List -->
                    <div class="col-md-6">
                        {% latest_news %}
                    </div> <!-- /col-md-6 -->

                </div>

            </div> <!-- /.col-md-8 -->

            <!-- Here begin Sidebar -->

            <div class="col-md-4">

                {% selected_students %}

                {% success_stories %}

                <div class="widget-main">
                    <div class="widget-main-title">
                        {% load pgallery_tags %}
                        <h4 class="widget-title">Our Gallery</h4>
                    </div>
                    <div class="widget-inner">
                        <div class="gallery-small-thumbs clearfix">
                            {% get_recent_galleries %}
                        </div> <!-- /.galler-small-thumbs -->
                    </div> <!-- /.widget-inner -->
                </div> <!-- /.widget-main -->

            </div>
        </div>
    </div>
{% endblock %}
