{% extends 'base.html' %}

{% load static %}

{% load cms_tags %}

{% load pgallery_tags %}

{% block content %}



    <!-- Being Page Title -->
    <div class="container">
        <div class="page-title clearfix">
            <div class="row">
                <div class="col-md-12">
                    <h6><a href="/">Home</a></h6>
                    <h6><span class="page-active">Branches</span></h6>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">

            <!-- Here begin Main Content -->
            <div class="col-md-8">
                <div class="row">

                    <div class="col-md-12">
                      {% for branch in object_list %}
                        <div class="list-event-item">
                            <div class="box-content-inner clearfix">

                                <h5 class="event-title"><a href="#">
                                    {{branch.name}}
                                </a></h5>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <i class="fa fa-phone"></i>&nbsp;+91 {{branch.contact}}
                                    </div>
                                    <div class="col-sm-3">
                                        <i class="fa fa-phone"></i>&nbsp;+91 {{branch.alternate_contact}}
                                    </div>
                                    <div class="col-sm-6">
                                        <i class="fa fa-envelope"></i>&nbsp;{{branch.email}}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <address>
                                            <i class="fa fa-map-marker"></i>&nbsp;
                                            {{branch.address|title}}
                                        </address>
                                    </div>
                                </div>

                            </div> <!-- /.box-content-inner -->
                        </div> <!-- /.list-event-item -->
                      {% endfor %}
                    </div> <!-- /.col-md-12 -->

                </div> <!-- /.row -->

            </div> <!-- /.col-md-8 -->

            <!-- Here begin Sidebar -->
            <div class="col-md-4">
                {% selected_students %}
                <div class="widget-main">
                    <div class="widget-main-title">
                        <h4 class="widget-title">Photo from Events</h4>
                    </div>
                    <div class="widget-inner">
                        <div class="gallery-small-thumbs clearfix">
                            {% get_recent_galleries %}
                        </div> <!-- /.galler-small-thumbs -->
                    </div> <!-- /.widget-inner -->
                </div> <!-- /.widget-main -->

            </div> <!-- /.col-md-4 -->

        </div> <!-- /.row -->
    </div> <!-- /.container -->

{% endblock %}