<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>Best SSC Coaching in Patna - Repose Coaching</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="College Education Responsive Template">
    <meta name="author" content="atul mishra">
    <meta charset="UTF-8">

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800' rel='stylesheet'
          type='text/css'>

    {% load static %}

    <!-- CSS Bootstrap & Custom -->
    <link href="{% static 'blue/bootstrap/css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'blue/css/font-awesome.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'blue/css/animate.css' %}" rel="stylesheet" media="screen">

    <link href="{% static 'blue/style.css' %}" rel="stylesheet" media="screen">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{% static 'blue/images/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{% static 'blue/images/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{% static 'blue/images/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'blue/images/ico/apple-touch-icon-57-precomposed.png' %}">
    <link rel="shortcut icon" href="images/ico/favicon.ico">

    <!-- JavaScripts -->
    <script src="{% static 'blue/js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'blue/js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'blue/js/modernizr.js' %}"></script>
    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode">
            <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"
                 alt=""/></a>
    </div>
    <![endif]-->
</head>
<body>

<!-- This one in here is responsive menu for tablet and mobiles -->
<div class="responsive-navigation visible-sm visible-xs">
    <a href="#" class="menu-toggle-btn">
        <i class="fa fa-bars"></i>
    </a>
    <div class="responsive_menu">
        <ul class="main_menu">
            <li><a href="/">Home</a></li>
            <li><a href="#">About us</a>
                <ul>
                    <li><a href="events-grid.html">Director message</a></li>
                    <li><a href="events-list.html">Director &rsquo;s profile </a></li>
                </ul>
            </li>
            <li><a href="#">Courses</a>
                <ul>
                    <li><a href="courses.html">Course List</a></li>
                    <li><a href="course-single.html">Course Single</a></li>
                </ul>
            </li>
            <li><a href="#">Blog Entries</a>
                <ul>
                    <li><a href="blog.html">Blog Grid</a></li>
                    <li><a href="blog-single.html">Blog Single</a></li>
                    <li><a href="blog-disqus.html">Blog Disqus</a></li>
                </ul>
            </li>
            <li><a href="">Pages</a>
                <ul>
                    <li><a href="archives.html">Archives</a></li>
                    <li><a href="shortcodes.html">Shortcodes</a></li>
                    <li><a href="gallery.html">Our Gallery</a></li>
                </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
        </ul> <!-- /.main_menu -->
        <ul class="social_icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
        </ul> <!-- /.social_icons -->
    </div> <!-- /.responsive_menu -->
</div> <!-- /responsive_navigation -->

{% load branches %}

{% get_main_branch as main_branch %}

<header class="site-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 header-left">
                <p class="top-phone-number"><i class="fa fa-phone"></i> +91 {{main_branch.contact}} </p>
                <p><i class="fa fa-envelope"></i>
                    <a href="mailto:email@universe.com" class="top-email-address">{{main_branch.email}}</a></p>
            </div> <!-- /.header-left -->

            <div class="col-md-4">
                <div class="logo">
                    <a href="/" title="Repose Coaching Center" rel="home">
                        <img src="{% static 'images/logo.png' %}" alt="Universe">
                    </a>
                </div> <!-- /.logo -->
            </div> <!-- /.col-md-4 -->

            <div class="col-md-4 header-right">
            </div> <!-- /.header-right -->
        </div>
    </div> <!-- /.container -->
    {% load menus %}

    {% get_menus %}

</header> <!-- /.site-header -->

{% block content %} {% endblock %}

<!-- begin The Footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-widget">
                    <h4 class="footer-widget-title">Contact Us</h4>
                    <p>Repose coaching center <br>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;
                    {{main_branch.address}}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-widget">
                    <h4 class="footer-widget-title">Favourites</h4>
                    <ul class="list-links">
                        <li><a href="#">Test series</a></li>
                        <li><a href="#">Results</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget">
                    <h4 class="footer-widget-title">Study</h4>
                    <ul class="list-links">
                        <li><a href="#">Courses</a></li>
                        <li><a href="#">Batches</a></li>
                        <li><a href="#">FAQs</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget">
                    <ul class="footer-media-icons">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-google-plus"></a></li>
                        <li><a href="#" class="fa fa-youtube"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                        <li><a href="#" class="fa fa-apple"></a></li>
                        <li><a href="#" class="fa fa-rss"></a></li>
                    </ul>
                </div>
            </div>
        </div> <!-- /.row -->

        <div class="bottom-footer">
            <div class="row">
                <div class="col-md-5">
                    <p class="small-text">Repose coaching center &copy; Copyright 2018.</p>
                </div> <!-- /.col-md-5 -->
                <div class="col-md-7">
                    <ul class="footer-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="courses.html">Courses</a></li>
                        <li><a href="events-list.html">Branches</a></li>
                        <li><a href="blog.html">Batches</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div> <!-- /.col-md-7 -->
            </div> <!-- /.row -->
        </div> <!-- /.bottom-footer -->

    </div> <!-- /.container -->
</footer> <!-- /.site-footer -->


<script src="{% static 'blue/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'blue/js/plugins.js' %}"></script>
<script src="{% static 'blue/js/custom.js' %}"></script>

</body>
</html>