{% extends 'base.html' %}

{% load static %}

{% load cms_tags %}

{% load pgallery_tags %}

{% block content %}
    <!-- Being Page Title -->
    <div class="container">
        <div class="page-title clearfix">
            <div class="row">
                <div class="col-md-12">
                    <h6><a href="/">Home</a></h6>
                    <h6><a href="#">Courses</a></h6>
                    <h6><span class="page-active">{{object.name}}</span></h6>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">

            <!-- Here begin Main Content -->
            <div class="col-md-8">

                <div class="row">
                    <div class="col-md-12">

                        <div class="course-post">
                            {% if object.image %}
                            <div class="course-image">
                                <img src="{{object.image.url}}" alt="Repose coaching - {{object.name}}">
                            </div> <!-- /.course-image -->
                            {% endif %}
                            <div class="course-details clearfix">
                                <h3 class="course-post-title">{{object.heading}}</h3>
                                {% autoescape off %}
                                    {{object.description}}
                                {% endautoescape %}
                                <br>
                                <a href="#" class="mainBtn pull-right" data-toggle="modal" data-target="#myModal">Apply to this course</a>
                            </div> <!-- /.course-details -->
                        </div> <!-- /.course-post -->

                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->

            </div> <!-- /.col-md-8 -->


            <!-- Here begin Sidebar -->
            <div class="col-md-4">
                {% selected_students %}
                <div class="widget-main">
                    <div class="widget-main-title">
                        <h4 class="widget-title">Our Gallery</h4>
                    </div>
                    <div class="widget-inner">
                        <div class="gallery-small-thumbs clearfix">
                            {% get_recent_galleries %}
                        </div> <!-- /.galler-small-thumbs -->
                    </div> <!-- /.widget-inner -->
                </div> <!-- /.widget-main -->

            </div> <!-- /.col-md-4 -->

        </div> <!-- /.row -->
    </div> <!-- /.container -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
          {% include 'reposeforms/course_enquiry_widget.html' %}
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block extra_js %}
<script>
    $('#myModal').on('show.bs.modal', function (e) {
            $('#myModalLabel').text( $('.page-active').text() );
            var course_id = {{object.id}};
            $('[name=course]').val(course_id).prop('disabled', true).after('<input type="hidden" name="course" value="'+course_id+'">');

    });
</script>
{% endblock %}