    <div class="nav-bar-main" role="navigation">
        <div class="container">
            <nav class="main-navigation clearfix visible-md visible-lg" role="navigation">
                <ul class="main-menu sf-menu">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/about_us/">About us</a>
                    </li>
                    <li><a href="{% url 'branches:branches' %}">Branches</a></li>
                    <li><a href="#">Courses</a>
                        <ul class="sub-menu">
                          {% for course in courses %}
                            <li><a href="{% url 'courses:detail' course.slug %}">{{course.name}}</a></li>
                          {% endfor %}
                        </ul>
                    </li>
                    <li><a href="/batches/">Batches</a>
                    </li>
                    <li><a href="blog.html">Student zone</a>
                        <ul class="sub-menu">
                            <li><a href="#">Results</a></li>
                            <li><a href="#">Test series</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Online facilities</a>
                        <ul class="sub-menu">
                            <li><a href="#">Downloads</a></li>
                        </ul>
                    </li>
                    <li><a href="/contactus">Contact</a></li>
                </ul> <!-- /.main-menu -->
{% load branches %}

{% get_main_branch as main_branch %}
                <ul class="social-icons pull-right">
                    <!--<li><i class="fa fa-phone"></i> +91 {{main_branch.contact}}</li>-->
                    <!--<li><i class="fa fa-envelope"></i>-->
                    <!--<a href="mailto:email@universe.com" class="top-email-address">{{main_branch.email}}</a></li>-->
                    <!--<li><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>-->
                    <!--<li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>-->
                    <!--<li><a href="#" data-toggle="tooltip" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>-->
                    <!--<li><a href="#" data-toggle="tooltip" title="Google+"><i class="fa fa-google-plus"></i></a></li>-->
                    <!--<li><a href="#" data-toggle="tooltip" title="RSS"><i class="fa fa-rss"></i></a></li>-->
                </ul> <!-- /.social-icons -->
            </nav> <!-- /.main-navigation -->
        </div> <!-- /.container -->
    </div> <!-- /.nav-bar-main -->