<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Repose Coaching Center</title>
    {% load static %}
    <style>
         .bg1{
            background: url({% static 'images/new-banner2.jpg' %}) top left;
            background-size: 100%;
      	    width: 98%;
      		height: 99%;
      		padding: 2px;
        }
        .bg2{
            background: url({% static 'images/new-banner.jpg' %}) top left;
            background-size: 100%;
      	    width: 98%;
      		height: 99%;
      		padding: 2px;
        }
    </style>
</head>
<body class="bg1">
</body>
</html>